<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohidited this book from being saved:
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_with model:@book, url: update_list_path(@book.id), method: :patch do |f| %>
  <div class="edit">Title</div>
  <div class="edit"><%= f.text_field:title %></div>
  <div class="edit">Body</div>
  <div class="edit"><%= f.text_area:body %></div>

  <div class="update"><%= f.submit'Update Book' %></div>

  <% end %>

  <span class="menu1"><%= link_to "Show",book_path(@book.id) %></span>

  <%= link_to "Back","/books" %>